/* ==========================================================================
   App-Wide Styles
   ========================================================================== */

@use '_fonts.scss';
@import-normalize;

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: 'Netflix Sans', assyrian, sans-serif;
}

a {
  text-decoration: none;
}
